<h1>幼稚園情報</h1>
<table class="table table-borderless">
    <% @facilities.each do |facility| %>
    <tr>
        <td>
            <%= link_to facility.name, facility_path(facility), class: "btn" %>
        </td>
    </tr>
    <% end %>
</table>
<%= link_to "戻る", my_facilities_path, class: "btn btn-primary" %>

