h1, table {
    text-align: center;
}

table {
    background-color: #fff;
}

.back {
    display: block;
    text-align: center;
    width: 20%;
}

.facilityBtn {
    border: 2px solid #ffd9e9;
}

.facilityDetail th, td {
    color: #737373;
    display: block;
    border: none;
}