h2 {
    text-align: center;
    }

div.plans {
           background-color: white;
           text-align: center;
        }


.buttons {
    display: flex;
}

.pinkBtn {
    background-color: #ffa0c8;
    width: 50%;
    height: 80px;
}

.pinkBtn a {
    display: block;
    text-align: center;
    font-size: 2em;
    color: white;
    padding-top: 18px;
}

.leftbtn {
    margin-right: 5px;
}

.search_container {
    box-sizing: border-box;
    
    input[type="text"] {
        border: none;
        padding: 3px 5px;
        height: 3.0em;
        width: 95%;
        overflow: hidden;
    }
    
    input[type="text"]:focus {
        outline: 0;
    }
    
    input[type="submit"] {
        cursor: pointer;
        font-family: FontAwesome;
        font-size: 2.0em;
        border: none;
        background: none;
        color: #737373;
        outline : none;
        display: inline-block;
        vertical-align: middle;
    }

}
