body {
    background-color: #ffd9e9;
}

h2 {
    text-align: center;
    }

div.schedule {
           background-color: white;
        }

#form2{
    width: 100%;	
    margin-bottom: 20px;
    }
    
#sbox2{
    height: 50px;
    padding: 0 10px; 
    outline: 0;
    border: none;
    background: white;
    }
    
#sbtn2{
    height: 50px;
    background: none;
    color: #666;
    border: none;
    font-size: 25px;/*アイコンサイズ*/
    }
    
#sbtn5:hover{
    color:#7fbfff;
    }