<html>
  <head>
    <title>Yochien</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-light">
      <h1><img src="/assets/logo.png" alt="幼稚園ノート"></h1>
      <%= link_to "会員情報の更新", edit_user_path, class: "btn btn-outline-info" %>
      <%= link_to "ログアウト", signout_path, class: "btn btn-outline-secondary" %>
    </nav>
    <h2>予定一覧</h2>
    <div class="schedule">
    </div>
    <%= link_to "予定の追加", new_schedule_path, class: "btn btn-success" %>
    <form method="get" action="#" class="search_container">
      <input type="text" size="25" placeholder="キーワード検索">
      <input type="submit" value="&#xf002">
    </form>      
    <a href="#">自分の記録一覧</a>
    <a href="#">＋新しい情報を登録</a>
  </body>
</html>